<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Cadastrar</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/ajuste.js"></script>
</head>
<body>
    <header>
        <div id="headerLogin">
            <a href="/home"><img id="iconLogin" src="./files/Icon.png" width="100px" height="50px"alt="icone"></a>
        </div>
    </header>
    <div id="rastreio">
        <%for(var i=0;i<track.length;i++) {%>
        <p id="rastreio"><%=track[i].codRastreio%></p>
        <h2>INFORMACOES DO PRODUTO</h2>
        <h3>RASTREIO : <%=track[i].codRastreio%></h3>
        <h3>PRODUTO/DESCRICAO : <%=track[i].produto%> / <%=track[i].descricao%></h3>
        <h3>STATUS : <%=track[i].statusTrk%></h3>
        
        <h2>ENDERECO DE COLETA</h2>
        <h3>CEP : <%=empresa.cep%></h3>
        <h3>RUA: <%=empresa.rua%> - Nº <%=empresa.numero%>  complemento(<%=empresa.complemento%>)</h3>
        <h3>BAIRRO : <%=empresa.bairro%> / CIDADE : <%=empresa.cidade%> - UF : <%=empresa.uf%></h3>
        

        <h2>ENDERECO DE ENTREGA</h2>
        <h3>CEP :<%=cliente.cep%></h3>
        <h3>RUA: <%=cliente.rua%> - Nº <%=cliente.numero%> complemento(<%=cliente.complemento%>)</h3>
        <h3>BAIRRO : <%=cliente.bairro%> / CIDADE : <%=cliente.cidade%> - UF : <%=cliente.uf%></h3>
        <%}%>
        
        <button onclick="backprod()">VOLTAR</button>
    </div>
   
</body>

</html>