<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Cadastrar</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/ajuste.js"></script>
    
</head>
<body>
    <header>
        <div id="headerLogin">
            <a href="home"><img id="iconLogin" src="./files/Icon.png" width="100px" alt="icone"></a>
        </div>
    </header>
    <div id="rastreio">
        <a href="/cadastro-endereco" ><button type="button" class="clickon">NOVO</button></a>
        <%for(var i=0;i<trk.length;i++) {%>
            <a href="cadendereco/<%=trk[i].id%>" ><button type="button" class="clickon"><%=trk[i].rua%>, <%=trk[i].numero%> - <%=trk[i].bairro%> - <%=trk[i].uf%></button></a>
            <%}%>
            <button onclick="back()">VOLTAR</button>
    </div>
    
    
   <!-- <div id="map"></div>-->
</body>

</html>