<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Tá Chegando - Cadastrar</title>
    <link rel="icon" href="/files/Icon.png">
    <script  src="/js/ajuste.js"></script>
</head>
<body>
    <header>
        <div id="headerLogin">
            <a href="/home"><img id="iconLogin" src="./files/Icon.png" width="100px" height="50px"alt="icone"></a>
        </div>
    </header>
    <div id="rastreio">
        <%for(var i=0;i<track.length;i++) {%>
        <p id="rastreio"><%=track[i].codRastreio%></p>
        
        
        <h2>ENDERECO DE COLETA</h2>
        <h3><%=empresa.cep%></h3>
        <h3><%=empresa.rua%> - <%=empresa.numero%> (<%=empresa.complemento%>)</h3>
        <h3><%=empresa.bairro%> / <%=empresa.cidade%> - <%=empresa.uf%></h3>
        

        <h2>ENDERECO DE ENTREGA</h2>
        <h3><%=cliente.cep%></h3>
        <h3><%=cliente.rua%> - <%=cliente.numero%> (<%=cliente.complemento%>)</h3>
        <h3><%=cliente.bairro%> / <%=cliente.cidade%> - <%=cliente.uf%></h3>
        <form method="post">
            <input type="number" name="trk" value="<%=track[i].id%>"hidden>
        
            <button type="submit" class="clickon">aceitar</button>
        </form>
        <%}%>
        
        
    </div>
   
</body>

</html>